<h2 mat-dialog-title>Create New Productss111</h2>
<div class="container">
  <mat-dialog-actions align="end">
    <ng-container ngProjectAs="btn-close">
      <button mat-button color="warn" (click)="dialog.closeAll()">Close</button>
    </ng-container>
  </mat-dialog-actions>
  <form [formGroup]="popForm" novalidate (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div fxFlex>
        <div fxFlex="30%">
          <input type="file" name="productImg" (change)="onFileSelect($event)" />
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div fxFlex>
        <div fxFlex="150%">
          <mat-form-field class="example-full-width">
            <input MatFormFieldControl formControlName="productName" matInput placeholder="productNamess">
            <mat-error
              *ngIf="!!popForm.controls.productName.errors?.required && !!popForm.controls.productName.touched">Product
              Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks">
        <div fxFlex>
          <div fxFlex="45%">
            <mat-form-field style="width:110px">
              <mat-select MatFormFieldControl formControlName="brandName" placeholder="Brand"
                (selectionChange)="getCategoryByBrand($event)">
                <mat-option *ngFor="let brand of brands; let i = index" [value]="brand.id">{{ brand.brand_name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="!!popForm.controls.brandName.errors?.required && !!popForm.controls.brandName.touched">
                Brand Name is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="10%"></div>

          <div fxFlex="45%">
            <mat-form-field style="width:110px">
              <mat-select MatFormFieldControl formControlName="categoryName" placeholder="Category" name="categoryName">
                <mat-option *ngFor="let category of categories; let i = index" [value]="category.id">
                  {{ category.category_name }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="!!popForm.controls.categoryName.errors?.required && !!popForm.controls.categoryName.touched">
                Category Name is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks">
        <div fxFlex>
          <div fxFlex="45%">
            <mat-form-field style="width:110px">
              <mat-select MatFormFieldControl formControlName="selectUnits" placeholder="Units">
                <mat-option *ngFor="let unit of units; let i = index" [value]="unit.id">{{ unit.text }}</mat-option>
              </mat-select>
              <mat-error
                *ngIf="!!popForm.controls.selectUnits.errors?.required && !!popForm.controls.selectUnits.touched">Units
                is required</mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="10%"></div>
          <div fxFlex="45%">
            <mat-form-field style="width:110px">
              <mat-select MatFormFieldControl formControlName="subUnits" placeholder="Sub Unit">
                <mat-option *ngFor="let unit of units; let i = index" [value]="unit.id">{{ unit.text }}</mat-option>
              </mat-select>
              <mat-error *ngIf="!!popForm.controls.subUnits.errors?.required && !!popForm.controls.subUnits.touched">Sub
                Units is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div fxFlex>
        <div fxFlex="45%">
          <mat-form-field style="width:110px" class="example-full-width">
            <input MatFormFieldControl formControlName="purchasePrice" matInput placeholder="Purchase Price">
            <mat-error
              *ngIf="!!popForm.controls.purchasePrice.errors?.required && !!popForm.controls.purchasePrice.touched">
              Product Price is required</mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="5%"></div>
        <div fxFlex="45%">
          <mat-form-field style="width:110px" class="example-full-width">
            <input MatFormFieldControl formControlName="minOrderQty" matInput placeholder="Min Order Qty">
            <mat-error
              *ngIf="!!popForm.controls.minOrderQty.errors?.required && !!popForm.controls.minOrderQty.touched">
              MinOrderQty is required</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks">
        <div fxFlex>
          <div fxFlex="100%">
            <mat-form-field>
              <textarea MatFormFieldControl matInput formControlName="productDescription"
                placeholder="Description"></textarea>
            </mat-form-field>
            <mat-error
              *ngIf="!!popForm.controls.productDescription.errors?.required && !!popForm.controls.productDescription.touched && !!popForm.controls.productDescription.minlegth">
              Product Description is required</mat-error>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div fxFlex>
        <div fxFlex="100%">
          Promotion Scheme (if any)
          <mat-checkbox formControlName="productClearence">Is Clearence Sale!</mat-checkbox>
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="content">
      <div class="blocks">
        <div fxFlex>
          <div fxFlex="100%">
            <button color="primary" [disabled]="!popForm.valid" mat-raised-button>Save</button>
          </div>
        </div>
      </div>
    </div>




    <br />




  </form>

</div>