 <!--<mat-toolbar color="primary" style="top:0px;">
     <img width="200" height="90" style="top:5px; margin-left: -50px;" src="{{ bukulogo }}" /> 
 <h2 class = "tp-h2"> Bank Loan Interest Rate Calculator </h2>
</mat-toolbar> -->


<div class="tp-messagebox" style="border: solid 1px white;">  

    <!-- <iframe frameBorder="0" src='sanitize(sipString)' name="interest-rate-calc" scrolling="no" width="500px" height="730px"></iframe> -->
    <iframe frameBorder="0" id="myIframe" [src]='sipString' name="interest-rate-calc" scrolling="no" width="500px" height="2000px"></iframe>
  <!-- <div ng-include="'https://www.hibuku.com/webapi/backend/sipcalculator/interest-rate-calculator-buku.html'"></div> -->
  
</div>


   <!-- <mat-checkbox class = "tp-margin" [(ngModel)] = "checked">Checked</mat-checkbox>
   <mat-checkbox class = "tp-margin" [(ngModel)] = "indeterminate">Indeterminate</mat-checkbox> -->
        <!-- <mat-radio-group class = "tp-radio-group" *ngFor = "let radiovalue of sms_options" [(ngModel)] = "favoriteSeason">
          
          <mat-radio-button class = "tp-radio-button" [value] = "radiovalue.key">
              {{radiovalue.val}}
          </mat-radio-button>


        </mat-radio-group> -->

          <!-- <mat-radio-group class = "tp-radio-group" *ngFor = "let radiovalue of sms_options" aria-label="Select an option">
                   <mat-radio-button class = "tp-radio-button"  [value] = "radiovalue.id">{{radiovalue.sms}} SMS in {{radiovalue.val}} INR</mat-radio-button>
          </mat-radio-group> -->
          <br />
          <div class="paynow-btn"> 
            <div fxFlexFill>
              <!-- <button mat-raised-button color="primary" class="w-100" (click)="saveManageSms()">Pay Now</button> -->
            </div>
          </div>

<!--    

<div class = "tp-selected-value">
  Selected Season: {{favoriteSeason}}
</div> -->
